.viewTable-header {
  margin-bottom: 20px;
}
.btn-create{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--main-color);
  margin-right: 20px;
}

.button-group{
  display: flex;
  justify-content: center;
  margin-bottom:  20px;
}
